@import url(http://fonts.googleapis.com/css?family=Share+Tech);

body {
	/* Downloaded from http://subtlepatterns.com/bedge-grunge/
     * Pattern by http://www.tapein.com/
     */
	background: url(bedge_grunge.png) #EEE;
	font-family: 'Share Tech', sans-serif;
}

/* Typography and layout --------------------------------------------- */

#content > div {
	position: relative; 
	margin: 60px auto;
	width: 900px;
	overflow: hidden;
}

h1 {
	margin: 0;
	font-size: 50px;
	font-weight: normal;
	color: #E70079;
}

p {
	font-size: 20px;
	color: #666;
	line-height: 1.5em;
}

.footer {
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 13px;
	display: block;
	text-align: center;
	color: #888;
}

/* Feed aspect ------------------------------------------------------- */

.feed {
	list-style-type: none;
	background-color: white;
	border: 1px solid #888;
	border-radius: 6px;
	overflow: hidden;
	padding: 16px 16px 0 16px;
	box-shadow: inset 3px 3px 4px #DDD;
	margin: 40px 40px;
	font-family: Verdana, Arial, sans-serif;
}

.feed img {
	float: left;
	width: 50px;
	height: 50px;
}

a.feed-add{
    border: 1px solid #777;
    display: block;
    margin: 40px 20px 5px;
    height: 20px;
	font-family: Verdana, Arial, sans-serif;
    padding: 3px 11px;
    line-height: 19px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;
	color: white;
	text-shadow: 0 -1px 0 #070;
	background-color: #3B3;
	background: -webkit-linear-gradient(top, #4C4,#2A2);
	background: -moz-linear-gradient(top, #4C4,#2A2);
	border-color: #070;
    text-decoration: none;
    text-align: center;
}

a.feed-add:hover {
	background-color: #4C4;
	background: -webkit-linear-gradient(top, #5D5,#3C3);
	background: -moz-linear-gradient(top, #5D5,#3C3);
	box-shadow: 0 0 3px #222;
}

.feed li {
	overflow: hidden;
	margin-bottom: 16px;
}

.feed li > span, .feed p {
	display: block;
	margin: 0 20px 8px 66px;
	font-size: 13px;
}

.feed span span {
	font-size: 11px;
	color: #888;
}

.feed a {
	text-decoration: none;
	color: #58D;
}

/* Transition and animation (yay CSS3) ------------------------------- */

.logo {
	width: 250px;
	height: 250px;
	background: url(logo.png) center center no-repeat #E70079;
	opacity: 0;
	visibility: hidden;
	transform: rotate(-6deg) scale(0.85,0.85);
	-webkit-transform: rotate(-6deg) scale(0.85,0.85);
	transition: 1.66s ease-in-out;
	-webkit-transition: 1.66s ease-in-out;
}

.dr {
	position: relative; 
	left: 50px;
	opacity: 0.0;
	visibility: hidden;
	transition: left, opacity;
}

.h {
	opacity: 0.0;
	visibility: hidden;
}

.t1 {
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
}

.t2 {
	transition: 0.5s ease-in-out 0.33s;
	-webkit-transition: 0.5s ease-in-out 0.33s;
}

.t3 {
	transition:0.5s ease-in-out 0.66s;
	-webkit-transition:0.5s ease-in-out 0.66s;
}

.t4 {
	transition:0.5s ease-in-out 1s;
	-webkit-transition:0.5s ease-in-out 1s;
}

.t5 {
	transition:0.5s ease-in-out 1.33s;
	-webkit-transition:0.5s ease-in-out 1.33s;
}

.t6 {
	transition:0.5s ease-in-out 1.66s;
	-webkit-transition:0.5s ease-in-out 1.66s;
}

.t9 {
	transition:0.5s ease-in-out 2.66s;
	-webkit-transition:0.5s ease-in-out 2.66s;
}

.t11 {
	transition:0.5s ease-in-out 3s;
	-webkit-transition:0.5s ease-in-out 3s;
}

#content.s1 .dr.s1 {
	left: 0px;
	opacity: 1;
	visibility: visible;
}

#content.s1 .logo.s1 {
	opacity: 1;
	transform: rotate(0) scale(1,1);
	-webkit-transform: none;
	visibility: visible;
}

#content.s1 .h.s1 {
	opacity: 1;
	visibility: visible;
}

#content.s2 .h.s2 {
	opacity: 1;
	visibility: visible;
}

#content.s1 .p2 { display: none }
#content.s2 .p1 { display: none }