@import url(http://fonts.googleapis.com/css?family=Share+Tech);

body {
	/* Downloaded from http://subtlepatterns.com/bedge-grunge/
     * Pattern by http://www.tapein.com/
     */
	background: url(bedge_grunge.png) #EEE;
	font-family: 'Share Tech', sans-serif;
}

/* Typography and layout --------------------------------------------- */

#content {
	position: relative; 
	margin: 60px auto;
	width: 900px;
	overflow: hidden;
}

h1 {
	margin: 0;
	font-size: 50px;
	font-weight: normal;
	color: #E70079;
}

/* Transition and animation (yay CSS3) ------------------------------- */

.logo {
	width: 250px;
	height: 250px;
	background: url(logo.png) center center no-repeat #E70079;
	opacity: 0;
	visibility: hidden;
	transform: rotate(-6deg) scale(0.85,0.85);
	-webkit-transform: rotate(-6deg) scale(0.85,0.85);
	transition: 1.66s ease-in-out;
	-webkit-transition: 1.66s ease-in-out;
}

.dr {
	position: relative; 
	left: 50px;
	opacity: 0.0;
	visibility: hidden;
	transition: left, opacity;
}

.h {
	opacity: 0.0;
	visibility: hidden;
}

.t1 {
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
}

.t2 {
	transition: 0.5s ease-in-out 0.33s;
	-webkit-transition: 0.5s ease-in-out 0.33s;
}

.t3 {
	transition:0.5s ease-in-out 0.66s;
	-webkit-transition:0.5s ease-in-out 0.66s;
}

.t4 {
	transition:0.5s ease-in-out 1s;
	-webkit-transition:0.5s ease-in-out 1s;
}

.t5 {
	transition:0.5s ease-in-out 1.33s;
	-webkit-transition:0.5s ease-in-out 1.33s;
}

.t6 {
	transition:0.5s ease-in-out 1.66s;
	-webkit-transition:0.5s ease-in-out 1.66s;
}

#content.s1 .dr.s1 {
	left: 0px;
	opacity: 1;
	visibility: visible;
}

#content.s1 .logo.s1 {
	opacity: 1;
	transform: rotate(0) scale(1,1);
	-webkit-transform: none;
	visibility: visible;
}

#content.s1 .h.s1 {
	opacity: 1;
	visibility: visible;
}